@page "/lifetime1"
@inject MyTransientService Transient
@inject MySingletonService Singleton
@inject MyScopedService Scoped

<ul>
    <li>@Singleton.Name @Singleton.GetHashCode()</li>
    <li>@Transient.Name @Transient.GetHashCode()</li>
    <li>@Scoped.Name @Scoped.GetHashCode()</li>
</ul>

<a href="lifetime2">Other lifetime demo page</a>
<a href="lifetime1?format=2">Same lifetime demo page with params</a>

@functions { 
}
